@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap");
$fontcolor: #383838;
$background: #f4f4f4;
$headerFont: "Abril Fatface", cursive;
$mainFont: "Lato", sans-serif;

body {
  background-color: $background;
  color: $fontcolor;
}

h1,
h2 {
  font-family: $headerFont;
  font-weight: 400;
}

p {
  font-family: $mainFont;
}

h2,
h3,
h4,
h5 {
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
  margin: 0;
}

h4 {
  font-size: 1.777rem;
  margin: 0;
}

h5,
p,
li,
a {
  font-size: 1.333rem;
}

a {
  text-decoration: none;
  color: $fontcolor;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
  font-family: $mainFont;

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
  }

  li a {
    font-size: 1.333rem;
  }
}

header {
  padding: 15rem 25rem;

  h4 {
    padding: 1rem 2rem;
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
  padding: 2rem;

  i {
    &:hover {
      transform: scale(1.2);
    }
  }
}

.fa-arrow-down {
  padding: 2rem;
}

.logo {
  font-size: 1.777rem;
  font-family: $headerFont;

  &:hover {
    text-decoration: none;
  }
}

section {
  padding: 2rem 25rem;
}

#about {
  #aboutContainer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
  }
  img {
    width: 30%;
    //height: 100%;
    //padding: 3rem 0 3rem 10rem;
  }
  p {
    padding: 0 6rem 0 3rem;
  }
}

.bold {
  font-weight: 600;
}

.cards {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;

  flex-grow: 1;
}

.project_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  flex-wrap: wrap;
  max-width: 14rem;
  min-width: 240px;
  min-height: 280px;
  padding: 1rem;

  img {
    width: 10rem;
    height: 10rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    padding: 1rem;
  }

  h4 {
    text-align: center;
    word-wrap: normal;
  }
}

footer {
  padding: 1rem 15rem;
  display: flex;
  justify-content: space-between;
}

.project {
  img {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  a {
    display: block;
  }
}
